<div bp="grid 4">
	<app-form-search (formChange)="search($event)"></app-form-search>
</div>

<div bp="grid 6 4@md 2@lg">
	<a *ngFor="let p of pokemon | async" [routerLink]="['./', p.id]" class="card--media">
		<i [class]="' sprite sprite-' + p.id"></i>
		<div class="card--media__content">
			{{p.name}}
			<span bp="float-right">#{{p.id}}</span>
		</div>
	</a>
</div>

<router-outlet></router-outlet>
