@import '../../../../../styles/_config';

header {
  background-color: $color-pokedex-red;
  color: $color-white;
  padding: 4px 4px 0px 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  .pokemon-logo {
    margin-left: 30px;
    height: 50px;
    width: 150px;
  }
}

.logo {
  font-size: 1.2em;
  padding: 12px;
  float: left;
  color: $color-white;
  text-decoration: none;
}

.btn--clear {
  color: $color-white;
  float: left;
  padding: 6px 0 0 0;
  min-width: 54px;

  img {
    width: 34px;
  }
}
